style
body {
    background-color: rgb(246, 64, 64);
    font-family: Arial;
    font-size: 20px;
    color: black;
    padding: 25px;
}
.dark-mode {
    background-color: black;
    color: white;
}
hr {
    border-color: green;
    border-style: solid;
    border-width: 2px;
}
table {
    border-spacing: 2;
    padding: auto;
    border: 1px;
    border-color: black;
    border-style: solid;
    width: auto;
}
tr {
    padding: 5px;
    border-spacing: 1px;
    border-style: solid;
}
td, th {
    padding: 5px;
    border-spacing: 1px;
    border-style: solid;
}
form {
    width: fit-content;
    padding: 50px;
    left: auto;
    top: auto;
}





/*
.picture {
    background-color: black;
    padding: auto;
    margin: auto;
}
.depth {
    text-align: center;
}
.photosL {
    background-color: rgb(101, 176, 176);
    padding-bottom: 290px;
    float: right;
    height: 500px;
}
.photosM {
    background-color: rgb(101, 176, 176);
    padding-bottom: 110px;
    float: right;
    height: 500px;
}
.photosS {
    background-color: rgb(101, 176, 176);
    padding-bottom: 0px;
    height: 500px;
    float: right;
}
.photonail {
    padding-bottom: 20px;
    float: right;
}
.pground {
    background-color: azure;
    width: fit-content;
    padding: 50px;
}
.pmain {
    background-color: rgb(101, 176, 176);
    width: fit-content;
    padding: 75px;
}

.titlemain {
    background-color: rgb(101, 176, 176);
    text-align: center;
    padding: 100px;
    width: auto;
}
.footmain {
    text-align: center;
    width: auto;
}
.pthumbnail {
    background-color: rgb(101, 176, 176);
    max-width: 300px;
}
div {
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    width: auto;
}
#main {
    padding: 100px;
}
#main_map {
    text-align: center;
    padding: 50px;
}
.menu {
    padding-right: 50px;
    padding-top: 50px;
    position: fixed;
    right: 0;
    top: 0;
}
.back{
    padding-left: 50px;
    padding-top: 50px;
    position: fixed;
    left: 0;
    top: 0;
}
.nav {
    background-color: black;
    overflow-x: hidden;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    position: fixed;
    color: white;
    height: 100%;
    z-index: 1;
    width: 0;
    right: 0;
    top: 0;
    /*transition: 0.5s;
}
.navlink {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: black;
    font-size: 25px;
    /*transition: 0.3s;
}
.navlink:hover {
    color: #f1f1f1;
}
.navbutton {
    position: absolute;
    margin-left: 50px;
    font-size: 36px;
    right: 25px;
    top: 0;
}
@media screen and (max-height: 450px) {
    .nav {padding-top: 15px;}
    .navlink {font-size: 18px;}
}*/
