body {
    background-color: rgb(253, 195, 195);
    font-family: Arial;
    font-size: 20px;
    color: black;
    padding: 25px;
}
.dark-mode {
    background-color: black;
    color: white;
}
div#mainBack{
    background-color: aliceblue;
    background-image: url("Images/background1.png");
    border: solid black;
    width: 1000px; 
    height: 500px;
}

div#target{
    position: relative;
    background-image: url("Images/Fairy1.png");
    height: 80px;
    width: 80px;
    /*top: 100px;
    background-color: aquamarine;
    left: 50px;*/
}

canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}