body {
    background-color: rgb(253, 195, 195);
    font-family: Arial;
    font-size: 20px;
    color: black;
    padding: 25px;
}
.dark-mode {
    background-color: black;
    color: white;
}

* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: Arial;
}
  
.header {
    text-align: center;
    padding: 32px;
}
  
#container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
#collumn {
    -ms-flex: 33%; /* IE10 */
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

#price {
    color: grey;
    font-size: 22px;
}
  
#container button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
#container button:hover {
    opacity: 0.7;
}

#collumn img {
    padding: 0 4px;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    max-width: 300px;
    max-height: auto;
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    #collumn {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    #collumn {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
}

/* Styles for the overlay */
div#lbOverlay {
    position: fixed;                        /* Overlay is fixed on screen */
    z-index: 1;                             /* Overlay sits on top of other content */
    width: 100%;                            /* Full width */
    height: 100%;                           /* Full height */
    top: 0;
    left: 0;
    background-color: rgba(104,49,0,0.85);  /* Semitransparent brown background */
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 /* Styles for the figure box within the overlay */
 div#lbOverlay figure {
    display: block;
    width: 80%;
    max-width: 800px;
 }
 
 /* Styles for the image within the overlay */
 div#lbOverlay figure img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 20px black;
    animation-name: zoom;      /* animate the opening of the figure */
    animation-duration: 1s;    /* over a 1-second interval */
 }
 
 /* Styles for the caption within the overlay */
 div#lbOverlay figure figcaption {
    background-color: #000;
    text-align: center;
    font-size: 1.25em;
    color: white;
    margin-top: 10px;
    animation-name: zoom;      /* animate the opening of the figure */
    animation-duration: 1s;    /* over a 1-second interval */  
 }
 
 /* Styles for the overlay close button */
 div#lbOverlay div#lbOverlayClose {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #f1f1f1;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
 }
 
 /* Hovering styles for the modal window close button */
 div#lbOverlay div#lbOverlayClose:hover {
    color: #F7F1A9;
    text-shadow: 3px 3px 0px black;
 }
 #myProgress {
    width: 100%;
    background-color: #ddd;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: #04AA6D;
  }