 <footer>
      <nav class="navbar navbar-dark bg-dark">
   
    <h6 class="display-6 navbar-text">&nbsp;JAU's A.I.&copy;INC. &copy;2023 All rights reserved</h6>
    </div>
    </nav>
  

      </footer>